.selected {
  color: #57A693;
}

.announcement-area {
  margin-top: 86px;
}

.announcement-area .announcement-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #57A693;
}

.announcement-area .announcement-title span {
  text-align: center;
}

.announcement-area .announcement-title div {
  height: 2px;
  background-color: #57A693;
}

.announcement-area .announcement-cata {
  width: 100%;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 33px;
  color: #717171;
}

.announcement-area .announcement-cata .divline {
  height: 42px;
  width: 1px;
  background-color: #717171;
}

.announcement-area .announcement-cata .cata-item {
  width: 102px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.announcement-area .announcement-cata .cata-item:hover {
  color: #81B9AC;
}

.announcement-area .announcement-cata .cata-item-active {
  width: 102px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #81B9AC;
  border-radius: 5px;
  color: #FFFFFF;
}

.announcement-area .mobile-announcement-cata {
  height: 37px;
  border-radius: 18px;
  -webkit-box-shadow: 0 3px 7px 0 rgba(203, 203, 203, 0.5);
          box-shadow: 0 3px 7px 0 rgba(203, 203, 203, 0.5);
  background-color: #fff;
  margin-top: 33px;
}

.announcement-area .mobile-announcement-cata .announcement-cata-select {
  width: 100%;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #717171;
  cursor: pointer;
}

.announcement-area .announcement-catawrap {
  padding-left: 0px;
  list-style: none;
  width: 100%;
  height: 0px;
  border-radius: 18px;
  -webkit-box-shadow: 0 3px 7px 0 rgba(203, 203, 203, 0.5);
          box-shadow: 0 3px 7px 0 rgba(203, 203, 203, 0.5);
  background-color: #fff;
  margin-top: 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  opacity: 0;
}

.announcement-area .announcement-catawrap li {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.announcement-area .announcement-catawrap li:hover {
  color: #57A693;
}

.announcement-area .announcement-content {
  margin-top: 55px;
  margin-bottom: 49px;
  height: 400px;
}

.announcement-area .announcement-content .item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #4E4E4E;
  border-bottom: solid 1px;
  border-color: #C4C4C4;
  margin-bottom: 34px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.announcement-area .announcement-content .item-wrap .item-title {
  padding-bottom: 16px;
  width: 80%;
}

.announcement-area .announcement-content .item-wrap .date {
  padding-top: 2px;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.announcement-area .announcement-content .item-wrap:hover {
  color: #57A693;
  border-bottom: solid 1px #57A693;
}
/*# sourceMappingURL=announcementarea.css.map */