@media (max-width: 767px) {
  .location, .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 20px;
  }
  .location .decoline, .phone .decoline {
    height: 21px;
    border: solid 1px;
    border-color: #717171;
    margin-right: 10px;
  }
  .location .location-title, .location .phone-title, .phone .location-title, .phone .phone-title {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
  .location .location-title svg, .location .phone-title svg, .phone .location-title svg, .phone .phone-title svg {
    width: 24px;
    height: 24px;
    position: relative;
  }
  .location .location-title span, .location .phone-title span, .phone .location-title span, .phone .phone-title span {
    margin-left: 16px;
  }
  .location .phone-content, .location .location-content, .phone .phone-content, .phone .location-content {
    -webkit-box-flex: 8;
        -ms-flex: 8;
            flex: 8;
  }
}

@media (max-width: 480px) {
  .footer-basicinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .location, .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .location .location-title span, .location .phone-title span, .phone .location-title span, .phone .phone-title span {
    font-size: 14px;
    margin: 0px;
  }
  .location .decoline, .phone .decoline {
    width: 90%;
    height: 1px;
    background-color: #717171;
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
  }
  .location svg, .phone svg {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .location, .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 20px;
  }
  .location .decoline, .phone .decoline {
    height: 21px;
    border: solid 1px;
    border-color: #717171;
    margin-right: 10px;
  }
  .location .location-title, .location .phone-title, .phone .location-title, .phone .phone-title {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  .location .location-title svg, .location .phone-title svg, .phone .location-title svg, .phone .phone-title svg {
    width: 24px;
    height: 24px;
    position: relative;
  }
  .location .location-title span, .location .phone-title span, .phone .location-title span, .phone .phone-title span {
    margin-left: 16px;
  }
  .location .phone-content, .location .location-content, .phone .phone-content, .phone .location-content {
    -webkit-box-flex: 9;
        -ms-flex: 9;
            flex: 9;
  }
}

@media (min-width: 980px) {
  .location, .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
  }
  .location .decoline, .phone .decoline {
    height: 21px;
    border: solid 1px;
    border-color: #717171;
    margin-right: 10px;
  }
  .location .location-title, .location .phone-title, .phone .location-title, .phone .phone-title {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
  .location .location-title svg, .location .phone-title svg, .phone .location-title svg, .phone .phone-title svg {
    width: 24px;
    height: 24px;
    position: relative;
  }
  .location .location-title span, .location .phone-title span, .phone .location-title span, .phone .phone-title span {
    margin-left: 16px;
  }
  .location .phone-content, .location .location-content, .phone .phone-content, .phone .location-content {
    -webkit-box-flex: 8;
        -ms-flex: 8;
            flex: 8;
  }
}

footer {
  width: 100%;
  border-top: solid 1px;
  border-color: #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer a {
  text-decoration: none;
  color: #717171;
}

footer .footer-basicinfo {
  padding-top: 27px;
  padding-bottom: 37px;
}

footer .footer-basicinfo .logo {
  width: 196px;
}

footer .footer-basicinfo .phone {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 28px;
}

footer .footer-basicinfo .phone a {
  color: black;
}

footer .footer-basicinfo .phone a:hover {
  color: #57A693;
}

footer .footer-basicinfo .googlemap {
  margin-top: 32px;
}

footer .footer-basicinfo .googlemap .iframe {
  width: 100%;
  max-width: 344px;
}

footer .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-nav .admin ul, footer .footer-nav .special ul, footer .footer-nav .digiservice ul, footer .footer-nav .aboutsmhs ul {
  list-style: none;
  margin-top: 25px;
  width: auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-nav .admin ul a:hover, footer .footer-nav .special ul a:hover, footer .footer-nav .digiservice ul a:hover, footer .footer-nav .aboutsmhs ul a:hover {
  color: #57A693;
}

footer .footer-nav .admin ul li, footer .footer-nav .special ul li, footer .footer-nav .digiservice ul li, footer .footer-nav .aboutsmhs ul li {
  color: #717171;
  margin-bottom: 19px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
/*# sourceMappingURL=footer.css.map */