@media (max-width: 767px) {
  .graduate-area {
    margin-left: 32px;
    margin-right: 32px;
  }
  .calender-btn,
  .juniorscroe,
  .highscroe {
    margin-left: 32px;
    margin-right: 32px;
  }
  .calender-btn svg,
  .juniorscroe svg,
  .highscroe svg {
    width: 36px;
    height: 36px;
    margin-right: 15px;
    color: #4E4E4E;
  }
  .linkwrap {
    padding-left: 32px;
    padding-right: 32px;
  }
  .linkgroup {
    height: 400px;
  }
  .decoline {
    height: 57px;
  }
  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 15%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    color: #FFFFFF;
  }
  .wrap svg {
    width: 100px;
    height: 100px;
    stroke: #FFFFFF;
  }
  .wrap span {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  .calender-btn span,
  .juniorscroe span,
  .highscroe span {
    font-size: 16px;
  }
  .calender-btn svg,
  .juniorscroe svg,
  .highscroe svg {
    width: 36px;
    height: 36px;
    margin-right: 15px;
    color: #4E4E4E;
  }
  .link-top .decoline {
    height: 30px;
  }
  .link-top .link-title {
    font-size: 18px;
  }
  .link-top .link-subtitle {
    font-size: 16px;
  }
  .linkgroup {
    height: auto;
  }
  .linkgroup span {
    font-size: 14px;
  }
  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 15%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    color: #FFFFFF;
  }
  .wrap svg {
    width: 70px;
    height: 70px;
    stroke: #FFFFFF;
  }
  .wrap span {
    font-size: 24px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .graduate-area {
    margin-left: 100px;
    margin-right: 100px;
  }
  .calender-btn,
  .juniorscroe,
  .highscroe {
    margin-left: 100px;
    margin-right: 100px;
  }
  .calender-btn svg,
  .juniorscroe svg,
  .highscroe svg {
    width: 43px;
    height: 43px;
    margin-right: 24px;
    color: #4E4E4E;
  }
  .linkwrap {
    padding-left: 100px;
    padding-right: 100px;
  }
  .linkgroup {
    height: 400px;
  }
  .decoline {
    height: 57px;
  }
  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 15%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    color: #FFFFFF;
  }
  .wrap svg {
    width: 150px;
    height: 150px;
    stroke: #FFFFFF;
  }
  .wrap span {
    font-size: 48px;
  }
}

@media (min-width: 980px) {
  .graduate-area {
    margin-left: 100px;
    margin-right: 100px;
  }
  .calender-btn,
  .juniorscroe,
  .highscroe {
    margin-left: 100px;
    margin-right: 100px;
  }
  .calender-btn svg,
  .juniorscroe svg,
  .highscroe svg {
    width: 43px;
    height: 43px;
    margin-right: 24px;
    color: #4E4E4E;
  }
  .linkwrap {
    padding-left: 100px;
    padding-right: 100px;
  }
  .linkgroup {
    height: 400px;
  }
  .decoline {
    height: 57px;
  }
  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 15%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    color: #FFFFFF;
  }
  .wrap svg {
    width: 150px;
    height: 150px;
    stroke: #FFFFFF;
  }
  .wrap span {
    font-size: 48px;
  }
}

@media (min-width: 1200px) {
  .calender-btn,
  .juniorscroe,
  .highscroe {
    margin-left: 100px;
    margin-right: 100px;
  }
  .calender-btn svg,
  .juniorscroe svg,
  .highscroe svg {
    width: 43px;
    height: 43px;
    margin-right: 24px;
    color: #4E4E4E;
  }
  .graduate-area {
    margin-left: 100px;
    margin-right: 100px;
  }
  .linkwrap {
    padding-left: 100px;
    padding-right: 100px;
  }
  .linkwrap .linkgroup {
    height: 400px;
  }
  .decoline {
    height: 57px;
  }
  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 15%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    color: #FFFFFF;
  }
  .wrap svg {
    width: 150px;
    height: 150px;
    stroke: #FFFFFF;
  }
  .wrap span {
    font-size: 48px;
  }
}

.content {
  margin-bottom: 100px;
}

.content .graduate-area .title {
  border-left: solid 3px;
  border-color: #57A693;
  padding-left: 10px;
  color: #57A693;
  margin-top: 25px;
}

.calender-btn {
  margin-top: 52px;
  color: #4E4E4E;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.calender-btn .btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calender-btn svg {
  fill: #4E4E4E;
}

.calender-btn:hover {
  color: #57A693;
}

.calender-btn:hover svg {
  fill: #57A693;
}

.juniorscroe,
.highscroe {
  margin-top: 20px;
  border: solid 1px;
  color: #4E4E4E;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.linkwrap {
  color: #4E4E4E;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.linkwrap .link-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 1px;
  border-color: #4E4E4E;
  width: 100%;
  margin-bottom: 18px;
}

.linkwrap .link-top .decoline {
  width: 1px;
  background-color: #4E4E4E;
  margin-left: 16px;
  margin-right: 13px;
}

.linkwrap .link-top .link-subtitle {
  color: #717171;
}

.linkwrap .linkgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.linkwrap .linkgroup span {
  margin-bottom: 26px;
  cursor: pointer;
}

.linkwrap .linkgroup span:hover {
  color: #57A693;
}
/*# sourceMappingURL=graduate.css.map */