@font-face {
  font-family: jfopen;
  src: url(/font/jf-openhuninn-1.1.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'jfopen';
}

@media (max-width: 767px) {
  nav {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  nav {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 1200px) {
  .navitem {
    display: none;
  }
  .hammenu {
    cursor: pointer;
  }
  .hammenu div {
    width: 35px;
    height: 3px;
    background-color: #FFFFFF;
    margin-bottom: 7px;
    border-radius: 5px;
  }
}

@media (min-width: 1200px) {
  .hammenu {
    display: none;
  }
  nav {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.v-leave {
  opacity: 1;
}

.v-leave-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.v-leave-to {
  opacity: 0;
}

.v-enter {
  opacity: 0;
}

.v-enter-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.v-enter-to {
  opacity: 1;
}

.slide {
  width: 100vw;
  height: 100%;
  max-height: 687px;
  overflow: hidden;
  position: relative;
}

.slide nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 77px;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

.slide nav .logo {
  background-size: cover;
  background-position: center;
  width: 52px;
  height: 52px;
  background-image: url("/media/school_logo.png");
}

.slide nav .navitem {
  width: 50%;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slide nav .navitem .navwarp {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slide nav .navitem .navwarp li {
  padding-left: 41px;
  color: #FFFFFF;
  cursor: pointer;
}

.slide nav .navitem .navwarp li .decoline {
  border: solid 1px;
  height: 1px;
  width: auto;
}

.slide .carousel-item .pic {
  background-image: url(/media/S__4890729.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.slide .navopenblock {
  width: 50vw;
  height: 1500px;
  background-color: #81B9AC;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  padding-top: 91px;
  padding-left: 69px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slide .navopenblock .aboutsmhswrap {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slide .navopenblock .admin-item {
  margin-bottom: 29px;
  width: auto;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
  margin-right: 50px;
}

.slide .navopenblock .admin-item:hover {
  margin-left: 4px;
}

.slide .navopenblock .admin-title {
  border-radius: 5px;
  background-color: RGBA(87, 171, 147, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 311px;
  padding-left: 36px;
  margin-top: 50px;
  float: right;
  height: 125px;
  color: #FFFFFF;
}

.fullpagemenu {
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #81B9AC;
  z-index: 3;
}

.fullpagemenu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
}

.fullpagemenu nav .logo {
  background-size: cover;
  background-position: center;
  width: 52px;
  height: 52px;
  background-image: url("/media/school_logo.png");
}

.fullpagemenu nav img {
  width: 48px;
  color: white;
  cursor: pointer;
}

.fullpagemenu .navitem-wrap {
  margin-top: 20px;
  margin-left: 36px;
  margin-right: 36px;
}

.fullpagemenu .navitem-wrap .navitem-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fullpagemenu .navitem-wrap .admin-wrap, .fullpagemenu .navitem-wrap .class-wrap, .fullpagemenu .navitem-wrap .digi-wrap, .fullpagemenu .navitem-wrap .about-wrap {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  margin-right: 40px;
}

.fullpagemenu .navitem-wrap .admin-wrap h4, .fullpagemenu .navitem-wrap .class-wrap h4, .fullpagemenu .navitem-wrap .digi-wrap h4, .fullpagemenu .navitem-wrap .about-wrap h4 {
  color: #FFFFFF;
}

.fullpagemenu .navitem-wrap .admin-wrap .divline, .fullpagemenu .navitem-wrap .class-wrap .divline, .fullpagemenu .navitem-wrap .digi-wrap .divline, .fullpagemenu .navitem-wrap .about-wrap .divline {
  height: 2px;
  background-color: #FFFFFF;
  margin-bottom: 30px;
  margin-top: 17px;
}

.fullpagemenu .navitem-wrap .admin-wrap .admin-item, .fullpagemenu .navitem-wrap .class-wrap .admin-item, .fullpagemenu .navitem-wrap .digi-wrap .admin-item, .fullpagemenu .navitem-wrap .about-wrap .admin-item {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 250px;
}

.fullpagemenu .navitem-wrap .admin-wrap .admin-item span, .fullpagemenu .navitem-wrap .class-wrap .admin-item span, .fullpagemenu .navitem-wrap .digi-wrap .admin-item span, .fullpagemenu .navitem-wrap .about-wrap .admin-item span {
  margin-bottom: 17px;
}

.fullpagemenu .navitem-wrap .about-wrap .admin-item {
  height: 400px;
}

.fullpagemenu .navitem-wrap .navitem-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=mainpage.css.map */