a {
  text-decoration: none;
  color: #4E4E4E;
}

#app {
  background-color: #fdfdfd;
}

textarea {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif !important;
}

@media (max-width: 767px) {
  .webnav .logo {
    width: 40px;
    height: 40px;
  }
  nav {
    padding-left: 32px;
    padding-right: 32px;
  }
  .slide {
    max-height: 462px;
  }
  .slide .smallnav {
    display: none;
  }
  .slide .navitem {
    display: none;
  }
  .announcement-area,
  .recruit-area,
  .imporatantinfo-wrap,
  .video-wrap {
    padding-left: 32px;
    padding-right: 32px;
  }
  .announcement-area .subtilte,
  .recruit-area .subtilte,
  .imporatantinfo-wrap .subtilte,
  .video-wrap .subtilte {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .announcement-area .subtilte span,
  .recruit-area .subtilte span,
  .imporatantinfo-wrap .subtilte span,
  .video-wrap .subtilte span {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
  .announcement-area .subtilte div,
  .recruit-area .subtilte div,
  .imporatantinfo-wrap .subtilte div,
  .video-wrap .subtilte div {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
  .announcement-area .title2,
  .recruit-area .title2,
  .imporatantinfo-wrap .title2,
  .video-wrap .title2 {
    display: none;
  }
  .announcement-area .item-wrap,
  .recruit-area .item-wrap,
  .imporatantinfo-wrap .item-wrap,
  .video-wrap .item-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .honorroll {
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 45px;
  }
  .honorroll .title2 {
    display: none;
  }
  .honorroll .subtitle {
    display: block;
  }
  .mobilesmallnav {
    margin-left: 32px;
    margin-right: 32px;
  }
  .mobilesmallnav svg {
    width: 30px;
  }
  .hammenu {
    cursor: pointer;
  }
  .hammenu div {
    width: 35px;
    height: 3px;
    background-color: #FFFFFF;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  .recruitblock-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .announcement-cata {
    display: none;
  }
  .mobile-announcement-cata {
    display: block;
  }
  .announcement-catawrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
  }
  footer iframe {
    display: none;
  }
  .footer-basicinfo {
    width: 100%;
    border: none;
  }
  .footer-nav {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 480px) {
  .hammenu {
    cursor: pointer;
  }
  .hammenu div {
    width: 35px;
    height: 3px;
    background-color: #FFFFFF;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  .item-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .webnav .logo {
    width: 52px;
    height: 52px;
  }
  nav {
    padding-left: 100px;
    padding-right: 100px;
  }
  .slide {
    max-height: 697px;
  }
  .slide .smallnav {
    display: none;
  }
  .slide .navitem {
    display: none;
  }
  .announcement-area,
  .recruit-area,
  .imporatantinfo-wrap,
  .video-wrap {
    padding-left: 100px;
    padding-right: 100px;
  }
  .announcement-area .subtilte,
  .recruit-area .subtilte,
  .imporatantinfo-wrap .subtilte,
  .video-wrap .subtilte {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .announcement-area .subtilte span,
  .recruit-area .subtilte span,
  .imporatantinfo-wrap .subtilte span,
  .video-wrap .subtilte span {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .announcement-area .subtilte div,
  .recruit-area .subtilte div,
  .imporatantinfo-wrap .subtilte div,
  .video-wrap .subtilte div {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
  .announcement-area .title2,
  .recruit-area .title2,
  .imporatantinfo-wrap .title2,
  .video-wrap .title2 {
    display: none;
  }
  .recruitblock-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hammenu {
    cursor: pointer;
  }
  .hammenu div {
    width: 35px;
    height: 3px;
    background-color: #FFFFFF;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  .honorroll {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 45px;
  }
  .honorroll .title2 {
    display: block;
  }
  .honorroll .subtilte {
    display: none;
  }
  .mobilesmallnav {
    margin-left: 100px;
    margin-right: 100px;
  }
  .announcement-cata {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-announcement-cata {
    display: none;
  }
  .announcement-catawrap {
    display: none;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
  }
  .footer-basicinfo {
    width: 100%;
    border: none;
  }
  .footer-nav {
    width: 100%;
  }
}

@media (min-width: 980px) {
  .webnav .logo {
    width: 52px;
    height: 52px;
  }
  .slide {
    max-height: 697px;
  }
  .slide .smallnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .slide .navitem {
    display: none;
  }
  .slide .hammenu {
    cursor: pointer;
  }
  .slide .hammenu div {
    width: 35px;
    height: 3px;
    background-color: #FFFFFF;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  .honorroll .title2 {
    display: block;
  }
  .honorroll .subtilte {
    display: none;
  }
  nav {
    padding-left: 100px;
    padding-right: 100px;
  }
  .announcement-area,
  .recruit-area,
  .imporatantinfo-wrap,
  .video-wrap {
    padding-left: 100px;
    padding-right: 100px;
  }
  .announcement-area .subtilte,
  .imporatantinfo-wrap .subtilte,
  .video-wrap .subtilte {
    display: none;
  }
  .announcement-area .title2,
  .imporatantinfo-wrap .title2,
  .video-wrap .title2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .announcement-area .title2 span,
  .imporatantinfo-wrap .title2 span,
  .video-wrap .title2 span {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .announcement-area .title2 div,
  .imporatantinfo-wrap .title2 div,
  .video-wrap .title2 div {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
  .recruit-area .subtilte {
    display: none;
  }
  .recruit-area .title2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .recruit-area .title2 span {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .recruit-area .title2 div {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
  .honorroll {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 155px;
  }
  .mobilesmallnav {
    display: none;
  }
  .announcement-cata {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-announcement-cata {
    display: none;
  }
  .announcement-catawrap {
    display: none;
  }
  .footer-nav {
    padding-left: 20px;
  }
  .footer-basicinfo {
    width: 40%;
    border-right: solid 1px;
    border-color: #C4C4C4;
  }
  .footer-nav {
    width: 60%;
    padding-top: 54px;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1200px) {
  .webnav .logo {
    width: 52px;
    height: 52px;
  }
  .slide {
    max-height: 697px;
  }
  .slide .smallnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .slide .smallnav .icon {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .slide .navitem {
    display: block;
  }
  .slide .hammenu {
    display: none;
  }
  .honorroll {
    margin-left: 100px;
    margin-right: 100px;
  }
  .mobilesmallnav {
    display: none;
  }
  .announcement-cata {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-announcement-cata {
    display: none;
  }
  .announcement-catawrap {
    display: none;
  }
  .footer-nav {
    padding-left: 63px;
  }
  .footer-basicinfo {
    width: 40%;
    border-right: solid 1px;
    border-color: #C4C4C4;
  }
  .footer-nav {
    width: 60%;
    padding-top: 54px;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
  }
}

#app {
  position: relative;
}

.transition {
  position: absolute;
  width: 0px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #FFFFFF;
  opacity: 0;
  pointer-events: none;
}

.v-leave {
  opacity: 1;
}

.v-leave-active {
  -webkit-transition: opacity .6s;
  transition: opacity .6s;
}

.v-leave-to {
  opacity: 0;
}

.v-enter {
  opacity: 0;
}

.v-enter-active {
  -webkit-transition: opacity .6s;
  transition: opacity .6s;
}

.v-enter-to {
  opacity: 1;
}

.slide {
  width: 100vw;
  height: 100%;
  position: relative;
}

.slide .picinfo {
  position: absolute;
  top: 15%;
  color: #FFFFFF;
  left: 10%;
  z-index: 3;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.slide .webnav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide .webnav .logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.slide .webnav .logo {
  margin-right: 5px;
  cursor: pointer;
}

.slide .webnav .logo img {
  width: 100%;
  height: 100%;
}

.slide .webnav .navitem {
  width: 50%;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slide .webnav .navitem .navwarp {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
}

.slide .webnav .navitem .navwarp li {
  padding-left: 41px;
  cursor: pointer;
}

.slide .webnav .navitem .navwarp li .decoline {
  border: solid 1px;
  height: 1px;
  width: 100%;
}

.slide .carousel-item img {
  width: 100px;
  height: 100px;
  border: solid 1px;
  position: absolute;
}

.slide .carousel-item .pic {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide .carousel-item .pic img {
  width: 100%;
  height: 100%;
}

.slide .carousel-item .picinfo {
  margin-top: 100px;
}

.slide .navopenblock {
  width: 50vw;
  height: 100vh;
  background-color: #81B9AC;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  padding-top: 91px;
  padding-left: 69px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.slide .navopenblock .schoologo {
  position: absolute;
  width: 290px;
  height: auto;
  -webkit-transform: rotate(18.97deg);
          transform: rotate(18.97deg);
  left: -5%;
  top: 65%;
  opacity: 0;
}

.slide .navopenblock .aboutsmhswrap {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slide .navopenblock .aboutsmhswrap a {
  text-decoration: none;
  color: white;
}

.slide .navopenblock .admin-item {
  margin-bottom: 29px;
  width: auto;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
  margin-right: 50px;
  opacity: 0;
}

.slide .navopenblock .admin-item a {
  text-decoration: none;
  color: white;
}

.slide .navopenblock .admin-item:hover {
  margin-left: 4px;
}

.slide .navopenblock .admin-title {
  border-radius: 5px;
  background-color: RGBA(87, 171, 147, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 311px;
  padding-left: 36px;
  margin-top: 50px;
  float: right;
  height: 125px;
  color: #FFFFFF;
}

.sticky {
  background-color: #fff;
  color: #4E4E4E;
  -webkit-box-shadow: 0px 5px 15px 4px rgba(203, 203, 203, 0.25);
          box-shadow: 0px 5px 15px 4px rgba(203, 203, 203, 0.25);
}

.sticky .hammenu div {
  background-color: #4E4E4E;
}

.sticky .logotype span {
  color: #4E4E4E;
}

.sticky .navitem .navwarp li {
  color: #4E4E4E;
}

.fullpagemenu {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #81B9AC;
  z-index: 4;
}

.fullpagemenu .mobilenav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
}

.fullpagemenu .mobilenav img {
  width: 48px;
  color: white;
  cursor: pointer;
}

.fullpagemenu .navitem-wrap {
  margin-top: 20px;
  margin-left: 36px;
  margin-right: 36px;
}

.fullpagemenu .navitem-wrap .navitem-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fullpagemenu .navitem-wrap .admin-wrap,
.fullpagemenu .navitem-wrap .class-wrap,
.fullpagemenu .navitem-wrap .digi-wrap,
.fullpagemenu .navitem-wrap .about-wrap {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.fullpagemenu .navitem-wrap .admin-wrap h4,
.fullpagemenu .navitem-wrap .class-wrap h4,
.fullpagemenu .navitem-wrap .digi-wrap h4,
.fullpagemenu .navitem-wrap .about-wrap h4 {
  color: #FFFFFF;
}

.fullpagemenu .navitem-wrap .admin-wrap .divline,
.fullpagemenu .navitem-wrap .class-wrap .divline,
.fullpagemenu .navitem-wrap .digi-wrap .divline,
.fullpagemenu .navitem-wrap .about-wrap .divline {
  height: 2px;
  background-color: #FFFFFF;
  margin-bottom: 30px;
  margin-top: 17px;
}

.fullpagemenu .navitem-wrap .admin-wrap .admin-item,
.fullpagemenu .navitem-wrap .class-wrap .admin-item,
.fullpagemenu .navitem-wrap .digi-wrap .admin-item,
.fullpagemenu .navitem-wrap .about-wrap .admin-item {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 250px;
}

.fullpagemenu .navitem-wrap .admin-wrap .admin-item a,
.fullpagemenu .navitem-wrap .class-wrap .admin-item a,
.fullpagemenu .navitem-wrap .digi-wrap .admin-item a,
.fullpagemenu .navitem-wrap .about-wrap .admin-item a {
  text-decoration: none;
  color: white;
}

.fullpagemenu .navitem-wrap .admin-wrap .admin-item span,
.fullpagemenu .navitem-wrap .class-wrap .admin-item span,
.fullpagemenu .navitem-wrap .digi-wrap .admin-item span,
.fullpagemenu .navitem-wrap .about-wrap .admin-item span {
  margin-bottom: 17px;
}

.fullpagemenu .navitem-wrap .admin-wrap {
  margin-right: 40px;
}

.fullpagemenu .navitem-wrap .digi-wrap {
  margin-right: 40px;
}

.fullpagemenu .navitem-wrap .about-wrap .admin-item {
  height: 400px;
}

.fullpagemenu .navitem-wrap .navitem-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.smallnav {
  width: 879px;
  height: 130px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 7px 0 rgba(203, 203, 203, 0.25);
          box-shadow: 0 3px 7px 0 rgba(203, 203, 203, 0.25);
  background-color: #fff;
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 90%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  color: #4E4E4E;
}

.smallnav img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.smallnav svg {
  z-index: 1;
}

.smallnav .icon {
  margin-right: 10px;
}

.smallnav .divline {
  height: 60%;
  width: 1px;
  background-color: #C4C4C4;
}

.smallnav .smallnav-student {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.smallnav .smallnav-student .circle {
  position: absolute;
  left: -5px;
  top: 0px;
  width: 40px;
  height: 40px;
}

.smallnav .smallnav-student:hover {
  scale: 1.05;
}

.smallnav .smallnav-teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.smallnav .smallnav-teacher .circle {
  position: absolute;
  left: -10px;
  top: 10px;
  width: 35px;
  height: 35px;
}

.smallnav .smallnav-teacher:hover {
  scale: 1.05;
}

.smallnav .smallnav-parents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.smallnav .smallnav-parents .circle {
  position: absolute;
  left: -10px;
  top: 5px;
  width: 35px;
  height: 35px;
}

.smallnav .smallnav-parents:hover {
  scale: 1.05;
}

.smallnav .smallnav-graduate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.smallnav .smallnav-graduate .circle {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 35px;
  height: 35px;
}

.smallnav .smallnav-graduate:hover {
  scale: 1.05;
}

.news_marquee {
  color: white;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translatex(100%);
            transform: translatex(100%);
  }
  100% {
    -webkit-transform: translatex(0%);
            transform: translatex(0%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translatex(100%);
            transform: translatex(100%);
  }
  100% {
    -webkit-transform: translatex(0%);
            transform: translatex(0%);
  }
}

.honorroll {
  height: 113px;
  border-radius: 5px;
  border: solid 2px #81B9AC;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #57A693;
  overflow: hidden;
}

.honorroll .title2 span {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.honorroll .subtilte span {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.loadingpage {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 5;
}

.loadingpage .logo {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 250px;
  background-position: center;
  background-size: cover;
  z-index: 5;
  opacity: 0.3;
}

.loadingpage .loadingwrap {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loadingpage .circle1 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
}

.loadingpage .circle2 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 75%;
  top: 75%;
}

.loadingpage .circle3 {
  position: absolute;
  left: 75%;
  top: 0;
  width: 50px;
  height: 50px;
}

.loadingpage .circle4 {
  position: absolute;
  left: 0;
  top: 75%;
  width: 50px;
  height: 50px;
}

.loadingpage img {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=mainpage.css.map */