$text_dark:#4E4E4E;
$text_lightdark:#717171;
$subcolor:#C4C4C4;
$main_dark:#57A693;
$main_light:#81B9AC;
$main_lighten:#FFFFFF;
@font-face {
    font-family: jfopen;
    src: url('/font/jf-openhuninn-1.1.ttf');
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'jfopen';
    scroll-behavior: smooth;
    
}
// 平板以下
@media (max-width: 767px) {
  nav{
    padding-left: 32px;
    padding-right: 32px;
    
  }

  .slide{
    max-height: 462px;
    .smallnav{
      display: none;
    }
    .navitem{
      display: none;
    }
  }
 
  .announcement-area,.recruit-area,.imporatantinfo-wrap{
    padding-left: 32px;
    padding-right: 32px;
    .subtilte{
      display: flex;
      span{
        flex: 4;
      }
      div{
        flex: 4;
      }
    }
    .title2{
      display: none;
    }
  }
  .honorroll{
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 45px;
    .title2{
      display: none;
    }
    .subtitle{
      display: block;
    }
  }
  .mobilesmallnav{
    margin-left: 32px;
    margin-right: 32px;
  }
  .hammenu{
    // border: solid 1px;
   cursor: pointer;
    div{
      width: 35px;
      height: 3px;
      background-color: $main_lighten;
      margin-bottom: 7px;
      border-radius: 5px;
    }
   
  }
  .recruitblock-wrap{
    flex-direction: column;
  }
  .announcement-cata{
    display: none;
  }
  .mobile-announcement-cata{
    display: block;
  }
  .announcement-catawrap{
    display: flex;
  }
  // .honorroll .title2{
  //   display: none;
  // }
  // .honorroll .subtitle{
  //   display: block;
  // }
  
 
}
// 手機小裝置
@media (max-width: 480px) {
  .hammenu{
    // border: solid 1px;
   cursor: pointer;
    div{
      width: 35px;
      height: 3px;
      background-color: $main_lighten;
      margin-bottom: 7px;
      border-radius: 5px;
    }
  }
}

// 平板
@media (min-width: 768px) and (max-width: 979px) {
  nav{
    padding-left: 100px;
    padding-right: 100px;
  }
  .slide{
    max-height: 697px;
    .smallnav{
      display: none;
    }
    .navitem{
      display: none;
    }
  }
  
  .announcement-area,.recruit-area,.imporatantinfo-wrap{
    padding-left: 100px;
    padding-right: 100px;
    .subtilte{
      display: flex;
      span{
        flex: 2;
      }
      div{
        flex: 5;
      }
    }
    .title2{
      display: none;
    }
  }
  

   .recruitblock-wrap{
     flex-wrap: wrap;
   }
   
   .hammenu{
     // border: solid 1px;
    cursor: pointer;
     div{
       width: 35px;
       height: 3px;
       background-color: $main_lighten;
       margin-bottom: 7px;
       border-radius: 5px;
     }
   }
   .honorroll{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 45px;
    .title2{
      display: block;
    }
    .subtilte{
      display: none;
    }
  }
  .mobilesmallnav{
    margin-left: 100px;
    margin-right: 100px;
  }
  .announcement-cata{
    display: flex;
  }
  .mobile-announcement-cata{
    display: none;
  }
  .announcement-catawrap{
    display: none;
  }
  
}
// 大平板
@media (min-width: 980px) {
  .slide{
    max-height: 697px;
    .smallnav{
      display: flex;
    }
    .navitem{
      display: none;
    }
    .hammenu{
      // border: solid 1px;
     cursor: pointer;
      div{
        width: 35px;
        height: 3px;
        background-color: $main_lighten;
        margin-bottom: 7px;
        border-radius: 5px;
      }
    }
  
  }
  .honorroll .title2{
    display: block;
  }
  .honorroll .subtilte{
    display: none;
  }
  
  nav{
    padding-left: 100px;
    padding-right: 100px;
  }
  .announcement-area,.recruit-area,.imporatantinfo-wrap{
    padding-left: 100px;
    padding-right: 100px;
    
  }
  .announcement-area,.imporatantinfo-wrap{
    .subtilte{
      display: none;
    }
    .title2{
      display: flex;
      span{
        flex: 2;
      }
      div{
        flex: 5;
      }
    }
  }
  .recruit-area{
    .subtilte{
      display: none;
    }
    .title2{
      display: flex;
      span{
        flex: 2;
      }
      div{
        flex: 5;
      }
    }
  }
 
  .honorroll{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 155px;
  }
  .mobilesmallnav{
    margin-left: 100px;
    margin-right: 100px;
  }
  .mobilesmallnav{
    display: flex;
  }
  .announcement-cata{
    display: flex;
  }
  .mobile-announcement-cata{
    display: none;
  }
  .announcement-catawrap{
    display: none;
  }
  
  

}
// 電腦端
@media (min-width: 1200px) {
  .slide{
    max-height: 697px;
    .smallnav{
      display: flex;
    }
    .navitem{
      display: block;
    }
    .hammenu{
      // border: solid 1px;
     display: none;
    }
  }
  .honorroll{
    margin-left: 100px;
    margin-right: 100px;
  }
  .mobilesmallnav{
    margin-left: 100px;
    margin-right: 100px;
  }
  .mobilesmallnav{
    display: none;
  }
  .announcement-cata{
    display: flex;
  }
  .mobile-announcement-cata{
    display: none;
  }
  .announcement-catawrap{
    display: none;
  }
  
}








.v-leave {
  opacity: 1;
}

.v-leave-active {
  transition: opacity .5s
}

.v-leave-to {
  opacity: 0;
}

.v-enter {
  opacity: 0;
}

.v-enter-active {
  transition: opacity .5s
}

.v-enter-to {
  opacity: 1;
}


.slide{
    width: 100vw;
    height: 100%;
   
    // overflow: hidden;
    position: relative;
    .webnav{
       
        align-items: center;
        justify-content: space-between;
        height: 77px;
        width: 100%;
        transition: 0.6s;
        // position: fixed;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 4;
        display: flex;
        .logo{
          background-size: cover;
          background-position: center;
           width: 52px;
           height: 52px;
           background-image: url('/media/school_logo.png');
        }
        .navitem{
            width: 50%;
            padding-left: 30px;
            box-sizing: border-box;
            .navwarp{
                list-style: none;
                display: flex;
                justify-content: flex-end;
                box-sizing: border-box;
                color: $main_lighten;
                li{
                padding-left: 41px;
               
                cursor: pointer;
                   
                   
                   
                   .decoline{
                       border: solid 1px;
                       height: 1px;
                       width: 100%;
                       
                       
                      //  margin-top: 10px;

                   }
                }
            }
        }
        
    }
    .carousel-item{
        .pic{
         
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }
    }
    
      
    .navopenblock{
        width: 50vw;
        height: 100vh;
        // max-height: 697px;
        background-color: $main_light;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 50%;
        padding-top: 91px;
        padding-left: 69px;
        box-sizing: border-box;
        overflow: hidden;
        .schoologo{
          position: absolute;
          width: 290px;
          height: auto;
          transform: rotate(18.97deg);
          left: -5%;
          top:65%;
          opacity: 0;
        }
        .aboutsmhswrap{
          height: 300px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          
        }
        .admin-item{
            margin-bottom: 29px;
            width: auto;
            color: $main_lighten;
            cursor: pointer;
            transition: margin-left 0.3s;
            margin-right: 50px;
            // transition: 0.3s;
        }
        .admin-item:hover{
         margin-left: 4px;
        }
        .admin-title{

          border-radius: 5px;
          background-color: RGBA(87,171,147,0.25) ;
          display: flex;
          align-items: center;
          width: 311px;
          padding-left: 36px;
          margin-top: 50px;
          float: right;
          height: 125px;
          color: $main_lighten;

        }
    }
    
}
.sticky{
  background-color: #fff;
  color: $text_dark;
  box-shadow: 0px 5px 15px 4px rgba(203, 203, 203, 0.25);
  border-radius: 5px;
  
}
.sticky{
  .hammenu{
  
      
        
        div{
          background-color: $text_dark;
        }
      
    
   
  }
}
.sticky{
  .navitem{
    .navwarp{
      li{
        color: $text_dark;
      }
    }
   
  }
}
.fullpagemenu{
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  position: fixed;
  left: 0;
  top: 0;
  background-color: $main_light;
  z-index: 4;
  .mobilenav{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    
    
    .logo{
      background-size: cover;
      background-position: center;
       width: 52px;
       height: 52px;
       background-image: url('/media/school_logo.png');
    }
    img{
      width: 48px;
      color: white;
      cursor: pointer;
    }
  }
  .navitem-wrap{
    margin-top: 20px;
   
    margin-left: 36px;
    margin-right: 36px;
    .navitem-top{
      display: flex;
      justify-content: space-between;
    }
    .admin-wrap,.class-wrap,.digi-wrap,.about-wrap{
      flex: 6;
      
      // margin-right: 40px;
      h4{
        color: $main_lighten;
      }
      .divline{
        height: 2px;
        background-color: $main_lighten;
        margin-bottom: 30px;
        margin-top: 17px;
        
      }
      .admin-item{
        color: $main_lighten;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 250px;
        span{
          margin-bottom: 17px;
        }
        
      }
    }
    .admin-wrap{
      margin-right: 40px;
    }
    .digi-wrap{
      margin-right: 40px;
    }
    .about-wrap{
      .admin-item{
        height: 400px;
      }
    }
    .navitem-bottom{
      display: flex;
    }
    
  }
}
.smallnav{
  width: 879px;
  height: 130px;
  border-radius: 5px;
  box-shadow: 0 3px 7px 0 rgba(203, 203, 203, 0.25);
  background-color: #fff;
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 90%;
  transform: translate(-50%,0);
  justify-content: space-around;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  color: $text_dark;
.divline{
  height: 70%;
  width: 1px;
  background-color: $text_lightdark;
}
.smallnav-student{
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  // border: solid 1px;
  svg{
    position: absolute;
    left: -20px;
    top: -20px;
    z-index: -1;
    width: 70px;
    height: 70px;
  }
  
  .icon{
    margin-right: 9px;
  }

}
.smallnav-teacher{
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  svg{
    position: absolute;
    left: -20px;
    top: 5px;
    z-index: -1;
    width: 60px;
    height: 60px;
  }
  .icon{
    margin-right: 9px;
  }
}
.smallnav-parents{
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  svg{
    position: absolute;
    left: -20px;
    top: -15px;
    z-index: -1;
    width: 60px;
    height: 60px;
    
  }
  .icon{
    margin-right: 9px;
  }
}
.smallnav-graduate{
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  svg{
    position: absolute;
    left: -10px;
    top: 10px;
    z-index: -1;
    width: 60px;
    height: 60px;
  }
  .icon{
    margin-right: 9px;
  }
}

}

.news_marquee {
 
  color:white;
}

@keyframes slide {
  0% {
  transform: translatex(100%)
  }

  100% {
  transform: translatex(0%)
  }
}







.honorroll{
 
  height: 113px;
  border-radius: 5px;
  border: solid 2px $main_dark;
  background-color: #fff;
 
  color: $main_dark;
  overflow: hidden;
  .title2{
    span{
    
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;
    }
  
  }
  .subtilte{
    span{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;
    }
  }

}



