$text_dark:#4E4E4E;
$text_lightdark:#717171;
$subcolor:#C4C4C4;
$main_dark:#57A693;
$main_light:#81B9AC;
$main_lighten:#FFFFFF;
.content{
    height: 1200px;
}
.calender-btn{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 52px;
    .btn-wrap{
        display: flex;
        align-items: center;
        
        svg{
            width: 43px;
            height: 43px;
            margin-right: 24px;
            color: $text_dark;
        }
    }
    
   
   
   
}
.linkwrap{
    color: $text_dark;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
    .link-top{
        display: flex;
        align-items: center;
        border-bottom: solid 1px;
        border-color: $text_dark;
        width: 100%;
        margin-bottom: 18px;
        .decoline{
            width: 2px;
      height: 57px;
      background-color: $text_dark;
      margin-left: 16px;
      margin-right: 13px;
        }
        .link-subtitle{
            color: $text_lightdark;
        }
    }
    .linkgroup{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 200px;
        span{
            margin-bottom: 26px;
        }
    }
   
}