// 顏色變數
$text_dark:#4E4E4E;
$text_lightdark:#717171;
$subcolor:#C4C4C4;
$main_dark:#57A693;
$main_light:#81B9AC;
$main_lighten:#FFFFFF;

//文字變數

.title1{
    font-size: 36px;
    font-weight: 500;
    // -webkit-text-stroke: 0.5px;
   
}
.title2{
    font-size: 24px;
    font-weight: 400;
    // -webkit-text-stroke: 0.4px;
    
}
.title3{
    font-size: 20px;
    font-weight: 400;
    // -webkit-text-stroke: 0.3px;
}
.subtilte{
    font-size: 18px;
   
    
    
}
.text{
    font-size: 16px;
    // font-weight: 300;
}
.smalltext{
    font-size: 14px;
    font-weight: 300;
}
