<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="海星中學 致力提供多元 適性 陪伴 優質的教學環境">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/mainpage.css" />
  <link rel="stylesheet" href="./css/var.css" />
  <link rel="stylesheet" href="./css/recruitarea.css">
  <link rel="stylesheet" href="./css/announcementarea.css">
  <link rel="stylesheet" href="./css/mobilesmallnav.css">
  <link rel="stylesheet" href="./css/importantinfoarea.css">
  <link rel="stylesheet" href="./css/footer.css">
  <link rel="stylesheet" href="./css/announcementpopup.css">
  <link rel="stylesheet" href="./css/videoarea.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <!-- og -->
  <!-- <meta property="og:url" content="https://tenten.co/digital-transformation/" /> -->
  <meta property="og:locale" content="zh_TW" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="海星高級中學" />
  <meta property="og:description" content="提供 多元 適性 陪伴 優質的教學環境" />
  <meta property="og:image" content="./assest/smhs og_工作區域 1.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="./assest/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="./assest/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="./assest/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="./assest/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="./assest/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="./assest/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="./assest/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="./assest/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="./assest/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="./assest/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./assest/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="./assest/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./assest/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="./assest/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap"
    rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"></script>

  <title>海星高級中學 | 多元 適性 陪伴 優質的教學環境</title>
</head>

<body>

  <div id="app">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <nav class="webnav">
        <div class="logo">
          <img src="./assest/school_logo.png" alt="">
        </div>
        <div class="navitem">
          <div class="navwarp">
            <li class="text" :style="{ color: openmenucolor}" v-for="(item,index) in navitems" :key="index">
              <span @mouseover.self="shownavopen(index,item.name)">{{item.name}}</span>





              <transition>
                <div class="decoline" v-show="currentindex==index"></div>
              </transition>
            </li>
          </div>
        </div>
        <div class="hammenu" @click="openmenu">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <transition>
          <div v-if="show" class="navopenblock admin" @mouseleave="hidenavcontent">
            <img class="schoologo" src="./assest/school_logo.png" alt="">
            <div class="aboutsmhswrap" v-if="currentindex==0">
              <div v-for="item in adminnav" class="admin-item">
                <a :href="item.url" target="_blank" rel="noopener noreferrer">
                  {{item.name}}
                </a>


              </div>
            </div>
            <div v-for="item in specialclassnnav" class="admin-item" v-show="currentindex==1">
              <a :href="item.url" target="_blank" rel="noopener noreferrer">
                {{item.name}}
              </a>

            </div>
            <div v-for="item in digiservice" class="admin-item" v-show="currentindex==2">
              <a :href="item.url" target="_blank" rel="noopener noreferrer">
                {{item.name}}
              </a>
            </div>
            <div class="aboutsmhswrap" v-show="currentindex==3">
              <div v-for="item in aboutsmhs" class="admin-item">
                <a :href="item.url" target="_blank" rel="noopener noreferrer">
                  {{item.name}}
                </a>
              </div>
            </div>


            <div class="admin-title title1">
              {{currentnavname}}
            </div>


          </div>
        </transition>
      </nav>

      <div class="carousel-inner">
        <div class="carousel-item active" v-for="(item,index) in carouselpic" :key="index" data-bs-interval="1000">
          <transition>
            <div class="pic" :style="{backgroundImage:'url('+item.pic+')'}" v-show="index==carouselindex">

            </div>
          </transition>
          <span class="title1 picinfo" v-show="index==carouselindex">{{item.title}}</span>
        </div>
      </div>

      <transition>
        <div class="fullpagemenu" v-if="showfullpagemenu">

          <nav class="mobilenav">
            <div class="logo"></div>
            <img @click="closefullpagemenu" src="./assest/close-fill.svg" alt="">
          </nav>
          <div class="navitem-wrap">
            <div class="navitem-top">
              <div class="admin-wrap">
                <h4 class="text">行政單位</h4>
                <div class="divline"></div>
                <div class="admin-item">
                  <span v-for="(item,index) in adminnav" :key="index">
                    <a :href="item.url" target="_blank" rel="noopener noreferrer">
                      {{item.name}}
                    </a>
                  </span>
                </div>
              </div>
              <div class="class-wrap">
                <h4 class="text">特色班級</h4>
                <div class="divline"></div>
                <div class="admin-item">

                  <span v-for="(item,index) in specialclassnnav" :key="index">
                    <a :href="item.url" target="_blank" rel="noopener noreferrer">{{item.name}}
                    </a>
                  </span>
                </div>
              </div>

            </div>
            <div class="navitem-bottom">
              <div class="digi-wrap">
                <h4 class="text">數位服務</h4>
                <div class="divline"></div>
                <div class="admin-item">
                  <span v-for="(item,index) in digiservice" :key="index"> <a :href="item.url" target="_blank"
                      rel="noopener noreferrer">{{item.name}}</a></span>
                </div>
              </div>
              <div class="about-wrap">
                <h4 class="text">關於海星</h4>
                <div class="divline"></div>
                <div class="admin-item">
                  <span v-for="(item,index) in aboutsmhs" :key="index">
                    <a :href="item.url" target="_blank" rel="noopener noreferrer">{{item.name}}</a></span>
                </div>
              </div>
            </div>



          </div>
        </div>
      </transition>
      <div class="smallnav">
        <div class="smallnav-student" @click="tonextpage('students')">
          <img class="circle" src="./assest/yellow.svg" alt="">
          <div class="icon">
            <img src="./assest/student.svg" alt="">

          </div>
          <span class="title2">
            在校學生
          </span>
        </div>
        <div class="divline"></div>

        <div class="smallnav-teacher" @click="tonextpage('teacher')">
          <img class="circle" src="./assest/green.svg" alt="">


          <div class="icon">
            <img src="./assest/teacher.svg" alt="">
          </div>
          <span class="title2">
            教職員工
          </span>
        </div>


        <div class="divline"></div>
        <div class="smallnav-parents" @click="tonextpage('parents')">
          <img class="circle" src="./assest/blue.svg" alt="">


          <div class="icon">
            <img src="./assest/parents.svg" alt="">
          </div>
          <span class="title2">
            學生家長
          </span>
        </div>
        <div class="divline"></div>
        <div class="smallnav-graduate" @click="tonextpage('graduate')">
          <img class="circle" src="./assest/red.svg" alt="">


          <div class="icon">
            <img src="./assest/graduate.svg" alt="">
          </div>
          <span class="title2">
            畢業校友
          </span>
        </div>

      </div>
    </div>

    <div class="honorroll">
      <div class="title2">







        <span v-for="(item,index) in honorroll" :key="index" v-show="index==honorindex&&index<5">
          {{item[0]}}
        </span>


      </div>
      <div class="subtilte">

        <span v-for="(item,index) in honorroll" :key="index" v-show="honorindex==index&&index<5">
          {{item[0]}}
        </span>



      </div>
    </div>
    <div class="recruit-area">
      <div class="recruit-title title2">
        <div></div>
        <span>招生專區</span>
        <div></div>
      </div>
      <div class="recruit-title subtilte">
        <div></div>
        <span>招生專區</span>
        <div></div>
      </div>
      <div class="recruitblock-wrap">
        <div class="recruitblock" :ref="'recruitblock'+index" v-for="(item,index) in recruitgroup" :key="index"
          @mouseover="showhoverani(index)" @mouseleave="leaveani(index)" @click="window.open(item.url)">

          <div class="title2">
            {{item.title}}
          </div>
          <div class="subtitle">
            {{item.subtitle}}
          </div>
          <div class="colorcover" :ref="'colorcover'+index">
            <div class="circle1" :ref="'refcircle1'+index">

            </div>
            <div class="circle2" :ref="'refcircle2'+index"></div>
          </div>

        </div>
      </div>


    </div>
    <div class="mobilesmallnav">
      <div class="smallnav-student" @click="tonextpage('students')">
        <img class="circle" src="./assest/yellow.svg" alt="">

        <div class="icon">
          <img src="./assest/student.svg" alt="">

        </div>
        <span class="title2">
          在校學生
        </span>
      </div>
      <div class="smallnav-teacher" @click="tonextpage('teacher')">
        <img class="circle" src="./assest/green.svg" alt="">
        <div class="icon">
          <img src="./assest/teacher.svg" alt="">
        </div>
        <span class="title2">
          教職員工
        </span>
      </div>
      <div class="smallnav-parents" @click="tonextpage('parents')">
        <img class="circle" src="./assest/blue.svg" alt="">


        <div class="icon">
          <img src="./assest/parents.svg" alt="">
        </div>
        <span class="title2">
          學生家長
        </span>
      </div>
      <div class="smallnav-graduate" @click="tonextpage('graduate')">

        <img class="circle" src="./assest/red.svg" alt="">


        <div class="icon">
          <img src="./assest/graduate.svg" alt="">
        </div>
        <span class="title2">
          畢業校友
        </span>
      </div>
    </div>
    <div class="announcement-area">
      <div class="announcement-title title2">
        <div></div>
        <span>公告專區</span>
        <div></div>

      </div>
      <div class="announcement-title subtilte">
        <div></div>
        <span>公告專區</span>
        <div></div>
      </div>
      <div class="announcement-cata">
        <div class="cata-item" @click="changeannouncementcata(0)" :class={'cata-item-active':announcementcataindex==0}>
          校務公告</div>
        <div class="divline"></div>
        <div class="cata-item" @click="changeannouncementcata(1)" :class={'cata-item-active':announcementcataindex==1}>
          獎助學金</div>
        <div class="divline"></div>
        <div class="cata-item" @click="changeannouncementcata(2)" :class={'cata-item-active':announcementcataindex==2}>
          教師研習</div>
        <div class="divline"></div>
        <div class="cata-item" @click="changeannouncementcata(3)" :class={'cata-item-active':announcementcataindex==3}>
          校外活動</div>
        <div class="divline"></div>
        <div class="cata-item" @click="changeannouncementcata(4)" :class={'cata-item-active':announcementcataindex==4}>
          下載資料</div>
        <div class="divline"></div>
        <div class="cata-item" @click="changeannouncementcata(5)" :class={'cata-item-active':announcementcataindex==5}>
          升學資訊</div>
        <div class="divline"></div>
        <div class="cata-item" @click="changeannouncementcata(6)" :class={'cata-item-active':announcementcataindex==6}>
          政令宣導</div>
      </div>
      <div class="mobile-announcement-cata">
        <div class="announcement-cata-select" @click="openannouncementmenu">
          <span>{{announcementcata[announcementcataindex]}}</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill="none" d="M0 0h24v24H0z" />
            <path d="M12 15l-4.243-4.243 1.415-1.414L12 12.172l2.828-2.829 1.415 1.414z" /></svg>
        </div>

      </div>
      <ul class="announcement-catawrap">
        <li :class={'selected':announcementcataindex==index} @click="changeannouncementcata(index)"
          v-for="(item,index) in announcementcata" :key="index">
          {{item}}
        </li>
        <!-- <li :class="selected:announcementindex==index">獎助學金</li>
          <li :class="selected:">教師研習</li>
          <li :class="selected:">校外活動</li>
          <li :class="selected:">下載資料</li>
          <li :class="selected:">升學資訊</li>
          <li :class="selected:">政令宣導</li> -->
      </ul>
      <div class="announcement-content">
        <div class="item-wrap" v-for="(item,index) in announcementcontent1" :key="index" @click="openpopup(index)"
          v-show="announcementcataindex==0&&index<6">
          <div class="item-title">
            {{item[0]}}
          </div>
          <div class="date">
            {{convertdatehandler(item[1])}}
          </div>
        </div>
        <div class="item-wrap" v-for="(item,index) in announcementcontent2" :key="index" @click="openpopup(index)"
          v-show="announcementcataindex==1&&index<6">
          <div class="item-title">
            {{item[0]}}
          </div>
          <div class="date">
            {{convertdatehandler(item[1])}}
          </div>
        </div>
        <div class="item-wrap" v-for="(item,index) in announcementcontent3" :key="index" @click="openpopup(index)"
          v-show="announcementcataindex==2&&index<6">
          <div class="item-title">
            {{item[0]}}
          </div>
          <div class="date">
            {{convertdatehandler(item[1])}}
          </div>
        </div>
        <div class="item-wrap" v-for="(item,index) in announcementcontent4" :key="index" @click="openpopup(index)"
          v-show="announcementcataindex==3&&index<6">
          <div class="item-title">
            {{item[0]}}
          </div>
          <div class="date">
            {{convertdatehandler(item[1])}}
          </div>
        </div>
        <div class="item-wrap" v-for="(item,index) in announcementcontent5" :key="index" @click="openpopup(index)"
          v-show="announcementcataindex==4&&index<6">
          <div class="item-title">
            {{item[0]}}
          </div>
          <div class="date">
            {{convertdatehandler(item[1])}}
          </div>
        </div>
        <div class="item-wrap" v-for="(item,index) in announcementcontent6" :key="index" @click="openpopup(index)"
          v-show="announcementcataindex==5&&index<6">
          <div class="item-title">
            {{item[0]}}
          </div>
          <div class="date">
            {{convertdatehandler(item[1])}}
          </div>
        </div>
        <div class="item-wrap" v-for="(item,index) in announcementcontent7" :key="index" @click="openpopup(index)"
          v-show="announcementcataindex==6&&index<6">
          <div class="item-title">
            {{item[0]}}
          </div>
          <div class="date">
            {{convertdatehandler(item[1])}}
          </div>
        </div>

      </div>



    </div>

    <div class="video-wrap">
      <div class="recruit-title title2">
        <div></div>
        <span>影音專區</span>
        <div></div>
      </div>
      <div class="recruit-title subtilte">
        <div></div>
        <span>影音專區</span>
        <div></div>
      </div>
      <div class="videoblock-wrap">
       <div v-for="(item,index) in videodata" :key="index"
          v-show="index==videoindex">
          <div class="videoblock">
            <a :href="item.url"  target="_blank" rel="noopener noreferrer">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z" />
                <path
                  d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zM10.622 8.415a.4.4 0 0 0-.622.332v6.506a.4.4 0 0 0 .622.332l4.879-3.252a.4.4 0 0 0 0-.666l-4.88-3.252z"
                  fill="rgba(255,255,255,1)" /></svg>
            </a>
            
          </div>
          
          <div class="arrow">
            <svg @click="changevideoindex('left')" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
              height="24">
              <path fill="none" d="M0 0h24v24H0z" />
              <path
                d="M12 2c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2zm0 18c4.42 0 8-3.58 8-8s-3.58-8-8-8-8 3.58-8 8 3.58 8 8 8zm0-9h4v2h-4v3l-4-4 4-4v3z" />
              </svg>
              <div class="title2">
                {{item.title}}
              </div>
              <div class="subtilte">
                {{item.title}}
              </div>
            <svg @click="changevideoindex('right')" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
              height="24">
              <path fill="none" d="M0 0h24v24H0z" />
              <path
                d="M12 11V8l4 4-4 4v-3H8v-2h4zm0-9c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2zm0 18c4.42 0 8-3.58 8-8s-3.58-8-8-8-8 3.58-8 8 3.58 8 8 8z" />
              </svg>
          </div>
  
        </div>
       
       

      </div>





    </div>
    <div class="imporatantinfo-wrap">
      <div class="recruit-title title2">
        <div></div>
        <span>重要資訊</span>
        <div></div>
      </div>
      <div class="recruit-title subtilte">
        <div></div>
        <span>重要資訊</span>
        <div></div>
      </div>
      <div class="imporatantinfoblockwrap">
        <div class="imporatantinfo-block" v-for="(item,index) in imporatantinfo" :key="index">
          <a :href="item.url" target="_blank" rel="noopener noreferrer">
            <div class="bgcover">
              <img src="http://www.smhs.hlc.edu.tw/smhs/rwb-web/assest/school_logo.png" alt="">
              <div class="textwrap">
                <span>{{item.title}}</span>
                <div class="underline"></div>
              </div>
            </div>
          </a>
        </div>
      </div>




    </div>
    <div class="announcementpopup" v-show="popupopen == true">

      <div class="announcementpopup-content">
        <div class="closewrap">
          <svg @click="closepopup" class="close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
            height="24">
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z" />
          </svg>
        </div>

        <div class="content-cata title2">
          {{announcementcata[announcementcataindex]}}最新公告
        </div>
        <div class="content-title title3">
          {{popupptitle}}


        </div>
        <div class="admincata">
          {{popupadmin}}
        </div>
        <div class="content-topic text" v-html="popupcontent">

          <!-- {{popupcontent}} -->
        </div>
        <div class="date subtilte">
          {{convertdate}}
        </div>
      </div>
    </div>



    <footer>
      <div class="footer-basicinfo">
        <img class="logo" src="./assest/海星logotype橫.png" alt="">
        <div class="location">
          <div class="location-title">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
              <path fill="none" d="M0 0h24v24H0z" />
              <path
                d="M12 20.9l4.95-4.95a7 7 0 1 0-9.9 0L12 20.9zm0 2.828l-6.364-6.364a9 9 0 1 1 12.728 0L12 23.728zM12 13a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 2a4 4 0 1 1 0-8 4 4 0 0 1 0 8z" />
            </svg>
            <span class="text">學校地址</span>
          </div>
          <div class="decoline"></div>
          <div class="location-content">
            <span class="text">花蓮縣新城鄉580號之1</span>
          </div>

        </div>
        <div class="phone">
          <div class="phone-title">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
              <path fill="none" d="M0 0h24v24H0z" />
              <path
                d="M9.366 10.682a10.556 10.556 0 0 0 3.952 3.952l.884-1.238a1 1 0 0 1 1.294-.296 11.422 11.422 0 0 0 4.583 1.364 1 1 0 0 1 .921.997v4.462a1 1 0 0 1-.898.995c-.53.055-1.064.082-1.602.082C9.94 21 3 14.06 3 5.5c0-.538.027-1.072.082-1.602A1 1 0 0 1 4.077 3h4.462a1 1 0 0 1 .997.921A11.422 11.422 0 0 0 10.9 8.504a1 1 0 0 1-.296 1.294l-1.238.884zm-2.522-.657l1.9-1.357A13.41 13.41 0 0 1 7.647 5H5.01c-.006.166-.009.333-.009.5C5 12.956 11.044 19 18.5 19c.167 0 .334-.003.5-.01v-2.637a13.41 13.41 0 0 1-3.668-1.097l-1.357 1.9a12.442 12.442 0 0 1-1.588-.75l-.058-.033a12.556 12.556 0 0 1-4.702-4.702l-.033-.058a12.442 12.442 0 0 1-.75-1.588z" />
            </svg>
            <span class="text">學校電話</span>
          </div>
          <div class="decoline"></div>
          <div class="phone-content">
            <span class="text">03-8223116</span>
          </div>
        </div>
        <div class="googlemap">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3644.6559663118433!2d121.61120141507547!3d24.007922884806458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34689e3a65e76d0b%3A0xa3afcfbff104a0af!2z6Iqx6JOu57ij56eB56uL5rW35pif6auY57Sa5Lit5a24!5e0!3m2!1szh-TW!2stw!4v1643283264394!5m2!1szh-TW!2stw"
            style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
      <div class="footer-nav">
        <div class="admin">
          <div class="admin-title subtilte">
            行政單位
          </div>
          <ul>
            <li class="smalltext" v-for="(item,index) in adminnav" :key="index">
              <a :href="item.url" target="_blank" rel="noopener noreferrer">{{item.name}}</a>
            </li>
          </ul>
        </div>
        <div class="special">
          <div class="special-title subtilte">
            特色班級
          </div>
          <ul>
            <li class="smalltext" v-for="(item,index) in specialclassnnav" :key="index">
              <a :href="item.url" target="_blank" rel="noopener noreferrer">{{item.name}}</a></li>
          </ul>
        </div>
        <div class="digiservice">
          <div class="digiservice-title subtilte">
            數位服務
          </div>
          <ul>
            <li class="smalltext" v-for="(item,index) in digiservice" :key="index">
              <a :href="item.url" target="_blank" rel="noopener noreferrer">{{item.name}}</a>
            </li>
          </ul>
        </div>
        <div class="aboutsmhs">
          <div class="aboutsmhs-title subtilte">
            關於海星

          </div>
          <ul>
            <li class="smalltext" v-for="(item,index) in aboutsmhs" :key="index">
              <a :href="item.url" target="_blank" rel="noopener noreferrer">{{item.name}} </a>
            </li>
          </ul>
        </div>
      </div>

    </footer>
    <div class="transition">

    </div>


    <div class="loadingpage" v-if="loadingshow==true">
      <!-- <div class="logo"></div> -->

      <div class="loadingwrap">
        <!-- <img src="http://www.smhs.hlc.edu.tw/smhs/rwb-web/assest/school_logo.png" alt=""> -->

        <svg class="circle1" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="12.5" cy="12.5" r="12.5" fill="url(#paint0_linear_676_168)" fill-opacity="0.41" />
          <defs>
            <linearGradient id="paint0_linear_676_168" x1="-16.4412" y1="2.47059" x2="33.8235" y2="25"
              gradientUnits="userSpaceOnUse">
              <stop offset="0.0260417" stop-color="#81B9AC" />
              <stop offset="0.5" stop-color="#57A693" />
              <stop offset="1" stop-color="white" />
            </linearGradient>
          </defs>
        </svg>

        <svg class="circle2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="12" cy="12" r="12" fill="url(#paint0_linear_676_157)" fill-opacity="0.41" />
          <defs>
            <linearGradient id="paint0_linear_676_157" x1="-15.7835" y1="2.37177" x2="32.4706" y2="24"
              gradientUnits="userSpaceOnUse">
              <stop offset="0.0260417" stop-color="#F7CE68" />
              <stop offset="0.5" stop-color="#FFB600" />
              <stop offset="1" stop-color="white" />
            </linearGradient>
          </defs>
        </svg>
        <svg class="circle3" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="13.5" cy="13.5" r="13.5" fill="url(#paint0_linear_676_180)" fill-opacity="0.41" />
          <defs>
            <linearGradient id="paint0_linear_676_180" x1="-17.7565" y1="2.66824" x2="36.5294" y2="27"
              gradientUnits="userSpaceOnUse">
              <stop offset="0.0208333" stop-color="#0B82F0" />
              <stop offset="0.526042" stop-color="#17BBDF" />
              <stop offset="0.973958" stop-color="white" />
            </linearGradient>
          </defs>
        </svg>
        <svg class="circle4" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="13" cy="13" r="13" fill="url(#paint0_linear_676_192)" fill-opacity="0.41" />
          <defs>
            <linearGradient id="paint0_linear_676_192" x1="-17.0988" y1="2.56941" x2="35.1765" y2="26"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#FE3C30" />
              <stop offset="0.661458" stop-color="#FFBDB9" />
              <stop offset="1" stop-color="white" />
            </linearGradient>
          </defs>
        </svg>


      </div>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          videoindex: 0,
          honorindex: 0,
          honorl: 0,
          openmenucolor: "",
          loadingshow: true,
          popupopen: false,
          announcementcataindex: 0,
          currentannouncementconetntidnex: -1,
          currentindex: -1,
          show: false,
          announcementcata: ['校務公告', '獎助學金', '教師研習', '校外活動', '下載資料', '升學資訊', '政令宣導'],
          announcementcataselect: '獎助學金',
          honorrollindex: 0,
          honorrollcontent: [],
          showfullpagemenu: false,
          currentnavname: '',
          announcementcataopen: false,
          imporatantinfo: [{
              title: '校車資訊',
              url: 'https://sites.google.com/smhs.hlc.edu.tw/smhsunit/總務處/交通組?authuser=0'
            },
            {
              title: '海星中學防疫專區',
              url: 'https://sites.google.com/smhs.hlc.edu.tw/epidemic-prevention-onlineread/首頁'
            },

          ],
          carouselindex: 0,
          carouselpic: [{
            pic: "./assest/S__4890729.jpg",
            title: '多元 適性 陪伴 優質'
          }, {
            pic: "./assest/合歡尖山攻頂合影1.jpg",
            title: '海星科學班合歡山大縱走'
          }],
          navitems: [{
              num: 0,
              name: "行政單位",
            },
            {
              num: 1,
              name: "特色班級",
            },
            {
              num: 2,
              name: "數位服務",
            },
            {
              num: 3,
              name: "關於海星",
            },
          ],
          adminnav: [{
              name: "校長室",
              url: "https://sites.google.com/smhs.hlc.edu.tw/smhsunit/校長室",
            },
            {
              name: "教務處",
              url: "https://sites.google.com/smhs.hlc.edu.tw/smhsunit/教務處",
            },
            {
              name: "學務處",
              url: "https://sites.google.com/smhs.hlc.edu.tw/smhsunit/學務處",
            },
            {
              name: "總務處",
              url: "https://sites.google.com/smhs.hlc.edu.tw/smhsunit/總務處",
            },
            {
              name: "輔導室",
              url: "https://sites.google.com/smhs.hlc.edu.tw/smhsunit/輔導室",
            }, {
              name: '人事室',
              url: "https://sites.google.com/smhs.hlc.edu.tw/smhsunit/人事室"
            },
            {
              name: '會計室',
              url: "https://sites.google.com/smhs.hlc.edu.tw/smhsunit/會計室"
            },
            {
              name: '圖書館',
              url: ""
            },
            {
              name: '國中部',
              url: "https://sites.google.com/smhs.hlc.edu.tw/smhsunit/國中部"
            },
          ],
          specialclassnnav: [{
              name: "普通科",
              url: "https://sites.google.com/smhs.hlc.edu.tw/featured-classes/smhs-classes/general-classes",
            },
            {
              name: "綜合科",
              url: "https://sites.google.com/smhs.hlc.edu.tw/featured-classes/smhs-classes/comprehensive-courses",
            },
            {
              name: "國中部特色班級",
              url: "https://sites.google.com/smhs.hlc.edu.tw/featured-classes/smhs-classes/jonior-high",
            },
            {
              name: "原住民教育",
              url: "https://sites.google.com/smhs.hlc.edu.tw/featured-classes/smhs-classes/comprehensive-courses/原住民族文化特色班",
            },
            {
              name: "國際教育",
              url: "https://sites.google.com/smhs.hlc.edu.tw/featured-classes/smhs-classes/international-education",
            },
          ],
          digiservice: [{
              name: "學生紀錄系統",
              url: "http://reg.smhs.hlc.edu.tw/auth/Auth/Login?S=Auth",
            },
            {
              name: "學生助學金辨識",
              url: "http://www.smhs.hlc.edu.tw/smhs/self_design/身份補助流程表.pdf",
            },
            {
              name: "教師教學計畫",
              url: "http://203.71.0.15/schoolsystem/teach_plan/index.php",
            },
            {
              name: "班級經營計畫",
              url: "http://203.71.0.15/schoolsystem/class_plan/index.php",
            },
            {
              name: "證件申請",
              url: "http://www.smhs.hlc.edu.tw/smhs/academic_affairs/10.html",
            },
          ],
          aboutsmhs: [{

              name: "建校歷程",
              url: "https://sites.google.com/smhs.hlc.edu.tw/about-smhs/關於海星/建校歷程",
            },
            {
              name: "校名校徽校址",
              url: "https://sites.google.com/smhs.hlc.edu.tw/about-smhs/關於海星/校名校徽校址",
            },
            {
              name: "校訓",
              url: "https://sites.google.com/smhs.hlc.edu.tw/about-smhs/關於海星/敬天愛人-校訓",
            },
            {
              name: "校歌",
              url: "https://sites.google.com/smhs.hlc.edu.tw/about-smhs/關於海星/校歌",
            },
            {
              name: "歷任校長",
              url: "https://sites.google.com/smhs.hlc.edu.tw/about-smhs/關於海星/歷任校長",
            },
            {
              name: "校史",
              url: "https://sites.google.com/smhs.hlc.edu.tw/about-smhs/關於海星/校史",
            },
            {
              name: "聖吳甦樂修會發展史",
              url: "https://sites.google.com/smhs.hlc.edu.tw/about-smhs/關於海星/聖吳甦樂女修會發展史",
            },
            {
              name: "修會教育理念",
              url: "https://sites.google.com/smhs.hlc.edu.tw/about-smhs/關於海星/修會教育理念",
            },
            {
              name: "辦學績效",
              url: "https://sites.google.com/smhs.hlc.edu.tw/about-smhs/關於海星/辦學績效",
            },
          ],
          testduration: 2500,
          recruitgroup: [{
              title: '招生資訊',
              subtitle: '國一新生',
              url: 'http://www.smhs.hlc.edu.tw/smhs/enroll/junior_highschool.html'
            },
            {
              title: '招生資訊',
              subtitle: '高一新生',
              url: 'http://www.smhs.hlc.edu.tw/smhs/enroll/highschool.html'
            }, {
              title: '海星2+1',
              subtitle: '體驗外國文化',
              url: 'https://sites.google.com/smhs.hlc.edu.tw/internationaleducation/加拿大2-1課程'
            }
          ],
          announcementcontent: [],
          popupptitle: '',
          popupadmin: '',
          popupcontent: '',
          popdate: '',
          videodata: [{
              picurl: '',
              url: '123',
              title:'聖安琪家庭日'
            },
            {
              picurl: '',
              url: '345',
              title:'好玩假日'
            }, {
              picurl: '',
              url: '678',
              title:'測試'
            }
          ]
        },
        methods: {
          convertdatehandler(datestring) {
            let newdatestring = datestring;

            newdatestring = newdatestring.substring(0, 10);


            return newdatestring
          },
          carouseltimer() {
            let l = this.carouselpic.length;
            var ani = anime({
              targets: ".pic",
              easing: 'easeInOutSine',

              duration: 6500,
              direction: 'alternate',
              loop: true,
              scale: 1.07


            });
            var ani2 = anime({
              targets: ".picinfo",
              easing: 'easeInOutSine',
              duration: 6500,
              direction: 'alternate',
              loop: true,
              scale: 1
            });

            window.setInterval((() => {


              if (this.carouselindex < l - 1) {
                this.carouselindex++

              } else {
                this.carouselindex = 0;

              }



            }), 7000);
          },
          closepopup() {
            anime({
              targets: '.announcementpopup',

              scale: [1, 0],
              opacity: [1, 0],
              easing: 'easeOutElastic(1, .8)',

              duration: 500

            });
            this.popupopen = false

          },
          changevideoindex(direction) {
            let l = this.videodata.length;
            if (direction == 'left') {
              this.videoindex--;
              if (this.videoindex < 0) {
                this.videoindex = l - 1;
              }

            } else {
              this.videoindex++
              if (this.videoindex == l) {
                this.videoindex = 0
              }

            }
          },
          openpopup(index) {

            anime({
              targets: '.announcementpopup',

              scale: [0, 1],
              opacity: [0, 1],
              easing: 'easeOutElastic(1, .8)',

              duration: 700

            });
            this.popupopen = true

            if (this.announcementcataindex == 0) {
              this.popupptitle = this.announcementcontent1[index][0]
              this.popupadmin = this.announcementcontent1[index][3]
              this.popupcontent = this.announcementcontent1[index][2]
              this.popdate = this.announcementcontent1[index][1]
            } else if (this.announcementcataindex == 1) {
              this.popupptitle = this.announcementcontent2[index][0]
              this.popupadmin = this.announcementcontent2[index][3]
              this.popupcontent = this.announcementcontent2[index][2]
              this.popdate = this.announcementcontent2[index][1]
            } else if (this.announcementcataindex == 2) {
              this.popupptitle = this.announcementcontent3[index][0]
              this.popupadmin = this.announcementcontent3[index][3]
              this.popupcontent = this.announcementcontent3[index][2]
              this.popdate = this.announcementcontent3[index][1]
            } else if (this.announcementcataindex == 3) {
              this.popupptitle = this.announcementcontent4[index][0]
              this.popupadmin = this.announcementcontent4[index][3]
              this.popupcontent = this.announcementcontent4[index][2]
              this.popdate = this.announcementcontent4[index][1]
            } else if (this.announcementcataindex == 4) {
              this.popupptitle = this.announcementcontent5[index][0]
              this.popupadmin = this.announcementcontent5[index][3]
              this.popupcontent = this.announcementcontent5[index][2]
              this.popdate = this.announcementcontent5[index][1]
            } else if (this.announcementcataindex == 5) {
              this.popupptitle = this.announcementcontent6[index][0]
              this.popupadmin = this.announcementcontent6[index][3]
              this.popupcontent = this.announcementcontent6[index][2]
              this.popdate = this.announcementcontent6[index][1]
            } else if (this.announcementcataindex == 6) {
              this.popupptitle = this.announcementcontent7[index][0]
              this.popupadmin = this.announcementcontent7[index][3]
              this.popupcontent = this.announcementcontent7[index][2]
              this.popdate = this.announcementcontent7[index][1]
            }



          },

          changeannouncementcata(index) {
            this.announcementcataindex = index;
            anime({
              targets: '.announcement-catawrap',

              height: ['328px', 0],
              opacity: [1, 0],
              easing: 'easeInOutQuad',

              duration: 1000

            });
            this.announcementcataopen = false;


          },
          openannouncementmenu() {

            if (this.announcementcataopen == false) {
              anime({
                targets: '.announcement-catawrap',
                opacity: [0, 1],
                height: [0, '328px'],
                easing: 'easeInOutQuad',

                duration: 1000

              });
              this.announcementcataopen = true;
            } else {
              anime({
                targets: '.announcement-catawrap',

                height: ['328px', 0],
                opacity: [1, 0],
                easing: 'easeInOutQuad',

                duration: 1000

              });
              this.announcementcataopen = false;
            }

          },
          showhoverani(index) {

            let vm = this;
            let colorcover = vm.$refs['colorcover' + index];
            let recruitblock = vm.$refs['recruitblock' + index];
            let circle1 = vm.$refs['refcircle1' + index];
            let circle2 = vm.$refs['refcircle2' + index];

            anime({
              targets: colorcover,
              easing: 'linear',
              opacity: 1,
              duration: 700

            });
            anime({
              targets: recruitblock,
              easing: 'easeInOutQuad',
              color: '#fff',
              duration: 500

            });
            anime({
              targets: circle1,
              top: '35%',
              left: '53%',
              easing: 'easeInOutQuad',
              opacity: 1,
              duration: 600

            });
            anime({
              targets: circle2,
              left: '65%',
              easing: 'easeInOutQuad',
              opacity: 1,
              duration: 600

            });
          },
          leaveani(index) {
            let vm = this;
            let colorcover = vm.$refs['colorcover' + index];
            let recruitblock = vm.$refs['recruitblock' + index];
            let circle1 = vm.$refs['refcircle1' + index];
            let circle2 = vm.$refs['refcircle2' + index];

            anime({
              targets: colorcover,
              easing: 'linear',
              opacity: 0,
              duration: 700

            });
            anime({
              targets: recruitblock,
              easing: 'easeInOutQuad',
              color: '#4E4E4E',
              duration: 500

            });
            anime({
              targets: circle1,
              top: '70%',
              left: '100%',
              easing: 'easeInOutQuad',
              opacity: 1,
              duration: 600

            });
            anime({
              targets: circle2,
              left: '100%',
              easing: 'easeInOutQuad',
              opacity: 1,
              duration: 600

            });
          },
          openmenuani() {
            var tl = anime.timeline({
              easing: 'easeInOutExpo',


            })
            tl.add({
                targets: ".webnav .admin-item",
                translateX: [70, 0],
                opacity: [0, 1],
                delay: anime.stagger(30), // increase delay by 100ms for each elements.
              }, )
              .add({
                targets: ".webnav .admin-title",
                translateX: [70, 0],
                opacity: [0, 1],


              }, 400)

          },
          shownavopen(index, name) {
            this.currentindex = index;
            this.currentnavname = name;
            this.openmenucolor = '#fff'
            this.show = true;
            setTimeout(() => {
              this.openmenuani();
            }, 50);



          },
          hidenavcontent() {
            this.show = false;
            this.currentindex = -1;
            this.openmenucolor = ''
          },

          openmenu() {
            this.showfullpagemenu = true
          },
          closefullpagemenu() {
            this.showfullpagemenu = false
          },

          tonextpage(page) {
            var tl = anime.timeline({
              easing: 'easeInOutSine',
              duration: 650,

            })
            tl.add({
                targets: ".transition",
                easing: 'easeInOutQuad',
                width: '100%',
                // translateX:[0,'100%'],
                opacity: 1
              })
              .add({
                targets: ".transition",
                easing: 'easeInOutQuad',
                translateX: [0, '100%'],
                delay: 200,
                opacity: 0
              })
              .add({
                targets: ".transition",
                easing: 'easeInOutQuad',
                width: '0px',
                translateX: 0

              })
            if (page == 'parents') {
              window.setTimeout((function () {
                window.location.href = "./parents.html";
              }), 1200);
            } else if (page == 'teacher') {
              window.setTimeout((function () {
                window.location.href = "./teacherlink.html";
              }), 1200);
            } else if (page == 'students') {
              window.setTimeout((function () {
                window.location.href = "./students.html";
              }), 1200);
            } else if (page == 'graduate') {
              window.setTimeout((function () {
                window.location.href = "./graduate.html";
              }), 1200);
            }




          }
        },
        computed: {
          honorroll() {
            let arr = []
            for (let i = 0; i < this.announcementcontent.length; i++) {
              if (this.announcementcontent[i][4] == '學校榮譽') {
                arr.push(this.announcementcontent[i])
              }
            }
            return arr
          },
          announcementcontent1() {

            let arr = []
            for (let i = 0; i < this.announcementcontent.length; i++) {
              if (this.announcementcontent[i][4] == this.announcementcata[0]) {
                arr.push(this.announcementcontent[i])
              }
            }
            console.log(this.announcementcontent)
            return arr;

          },
          announcementcontent2() {
            let arr = []
            for (let i = 0; i < this.announcementcontent.length; i++) {
              if (this.announcementcontent[i][4] == this.announcementcata[1]) {
                arr.push(this.announcementcontent[i])
              }
            }
            console.log(this.announcementcontent)
            return arr;

          },
          announcementcontent3() {
            let arr = []
            for (let i = 0; i < this.announcementcontent.length; i++) {
              if (this.announcementcontent[i][4] == this.announcementcata[2]) {
                arr.push(this.announcementcontent[i])
              }
            }
            console.log(this.announcementcontent)
            return arr;
          },
          announcementcontent4() {
            let arr = []
            for (let i = 0; i < this.announcementcontent.length; i++) {
              if (this.announcementcontent[i][4] == this.announcementcata[3]) {
                arr.push(this.announcementcontent[i])
              }
            }
            console.log(this.announcementcontent)
            return arr;
          },
          announcementcontent5() {
            let arr = []
            for (let i = 0; i < this.announcementcontent.length; i++) {
              if (this.announcementcontent[i][4] == this.announcementcata[4]) {
                arr.push(this.announcementcontent[i])
              }
            }
            console.log(this.announcementcontent)
            return arr;
          },
          announcementcontent6() {
            let arr = []
            for (let i = 0; i < this.announcementcontent.length; i++) {
              if (this.announcementcontent[i][4] == this.announcementcata[5]) {
                arr.push(this.announcementcontent[i])
              }
            }
            console.log(this.announcementcontent)
            return arr;
          },
          announcementcontent7() {
            let arr = []
            for (let i = 0; i < this.announcementcontent.length; i++) {
              if (this.announcementcontent[i][4] == this.announcementcata[6]) {
                arr.push(this.announcementcontent[i])
              }
            }
            console.log(this.announcementcontent)
            return arr;
          },
          convertdate() {
            let newdatestring = this.popdate;
            if (this.popdate == '') {
              console.log('pass')
            } else {
              newdatestring = newdatestring.substring(0, 10);
            }

            return newdatestring

          },
          test() {
            let newarr = [];
            for (let i = 0; i < this.announcementcontent.length; i++) {
              if (this.announcementcontent[i][4] == '學校榮譽') {
                console.log(this.announcementcontent[i][4]);
              }
            }
          }
        },
        created() {
          axios({
              method: "get",
              url: "https://script.google.com/macros/s/AKfycbxIAtJn1QioMSjeX_26YfrX_0MuRgN8156jrO_hPofQHjly2lu_ND3QB6OuOj9dkAvZRQ/exec",
              params: {
                type: 'all',
              }
            })
            .then((response) => {
              this.announcementcontent = response.data




              this.loadingshow = false

              // console.log(response.data);
            })
            .catch((error) => {
              console.error(error);
            });
        },
        mounted() {

          anime({
            targets: ".loadingpage .circle1",
            easing: "easeInOutQuad",
            duration: 2000,
            left: "75%",
            top: "75%",
            direction: "alternate",
            loop: true
          });
          anime({
            targets: ".loadingpage .circle2",
            easing: "easeInOutQuad",
            duration: 2000,
            left: "0",
            top: "0",
            direction: "alternate",
            loop: true
          });

          anime({
            targets: ".loadingpage .circle3",
            easing: "easeInOutQuad",
            duration: 2000,
            left: "0",
            top: "75%",
            direction: "alternate",
            loop: true
          });

          anime({
            targets: ".loadingpage .circle4",
            easing: "easeInOutQuad",
            duration: 2000,
            left: "75%",
            top: "0",
            direction: "alternate",
            loop: true
          });




          anime({
            targets: ".loadingpage .logo",
            easing: 'easeInOutQuad',
            duration: 1000,
            loop: true,
            direction: 'alternate',
            opacity: 1
          });

          let randomscale = [];
          let left = []
          let top = []

          for (let i = 0; i < 4; i++) {
            randomscale.push(Math.random() * (1.3 - 1) + 1);
            left.push(Math.random() * (15 - 1) + 1)
            top.push(Math.random() * (15 - 1) + 1)
          }

          anime({
            targets: ".smallnav-parents .circle",
            easing: 'easeInOutSine',
            duration: this.testduration,
            loop: true,
            direction: 'alternate',
            scale: randomscale[0],
            rotate: 10,
            translateX: left[0] + 'px',
            translateY: top[0] + 'px',
          });
          anime({
            targets: ".smallnav-teacher .circle",
            easing: 'easeInOutSine',
            duration: this.testduration,
            loop: true,
            direction: 'alternate',
            scale: randomscale[1],
            rotate: 10,
            translateX: left[1] + 'px',
            translateY: top[1] + 'px',
          });
          anime({
            targets: ".smallnav-student .circle",
            easing: 'easeInOutSine',
            duration: this.testduration,
            loop: true,
            direction: 'alternate',
            scale: randomscale[2],
            rotate: 10,
            translateX: left[2] + 'px',
            translateY: top[2] + 'px',

          });
          anime({
            targets: ".smallnav-graduate .circle",
            easing: 'easeInOutSine',
            duration: this.testduration,
            loop: true,
            direction: 'alternate',
            scale: randomscale[3],
            rotate: 10,
            translateX: left[3] + 'px',
            translateY: top[3] + 'px',
          });

          window.addEventListener("scroll", function () {
            var navbar = document.querySelector(".webnav")
            navbar.classList.toggle("sticky", window.scrollY > 0)
          })
          this.carouseltimer();
          let honorindex = 0
          window.setInterval((() => {
            if (honorindex < this.honorroll.length - 1) {
              honorindex++;
              this.honorindex = honorindex
            } else {
              honorindex = 0
              this.honorindex = honorindex
            }
            console.log(this.honorindex, 'vue中的')



          }), 5010);

          anime({
            targets: ".honorroll .title2",
            easing: 'easeInOutQuad',
            duration: 5000,
            loop: true,
            // direction: 'alternate',
            opacity: [0, 1]

          });
          anime({
            targets: ".honorroll .subtilte",
            easing: 'easeInOutQuad',
            duration: 5000,
            loop: true,
            // direction: 'alternate',
            opacity: [0, 1]

          });
















        },
      });
    </script>
  </div>
</body>

</html>